@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); 

h3 {
    margin-bottom: 10px;
    text-align: center;
    padding-right: 160px;
    font-family: 'Fredoka One', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    width: 1400px;


}

p {
    font-size: 16px;
    line-height: 19px;
}

.background {
    background-image: url("../imgs/office_background_v2.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: top;
    width: 1400px;
    height: 800px;
}

.container {
    margin: auto;
    padding: 50px 130px 0 0;
    max-width: 500px;
    text-align: center;
}

.img2 {
    position: absolute;
    z-index: 4;
    width: 275px;
    height: 200px;
}

.img1 {
    position: absolute;
    z-index: 1;
    width: 275px;
    height: 200px;
}

#start {
    margin-top: 5px;
}

#response1, #response2 {
    padding: 5px 0;
    display: none;
}

#response1:hover, #response2:hover {
    /* font-weight: 900; */
    cursor: pointer;
    background-color: #b2dfdb;
}

#restart {
    margin-top: 15px;
    display: none;
}

#restart-form {
    display: none;
}